button{
    margin: 5px;
}

img{
    margin: 20px;
}

#load-more{
    position: relative;
    width: 100%;
}

#categories{
    position: sticky;
    top: 0;
}

#submit{
    margin-top: 20px;
}

.card{
    margin-top: 20px;
}

.card-header{
    color: white;
    font-size: 24px;
}